__pycache__/
*.py[codz]
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*

.venv/
venv/
ENV/
.env
.envrc

build/
dist/
*.egg-info/

ingestion/state.json
analytics_dbt/target/
analytics_dbt/dbt_packages/
logs/

.DS_Store
.ipynb_checkpoints/
